<section class="banner">
  <img media="large" src="http://lorempixel.com/g/1920/400/fashion/6">
</section>
<div class="grid-container home">
  <section class="fast-links center">
    <ul class="condense menu-bar">
      <li>
        <a href="#">SWEATERS</a>
      </li>
      <li>
        <a href="#">LEGGINGS</a>
      </li>
      <li>
        <a href="#">T-SHIRTS</a>
      </li>
      <li>
        <a href="#">TANKS</a>
      </li>
      <li>
        <a href="#">TOPS</a>
      </li>
      <li>
        <a href="#">HOODIES</a>
      </li>
    </ul>
  </section>
  <section class="promo">
    <div class="grid-block"></div>
    <div class="grid-block"></div>
    <div class="grid-block"></div>
  </section>
  <section class="trending">
  </section>
  <section class="cook-new">
  </section>
  <section class="artists">
  </section>
  <section class="howto">
  </section>
</div>
<div ng-include="'templates/shared/footer.html'"></div>
