<div class="information">
  <div class="information-title">Custom Clothing</div>

  <p class="question">How big should be the image I want to print?</p>
  <p class="answer">We will print any picture you want regardless the size, however, you should keep in mind that the smaller the image the worse the quality of the print will be. Optimal size varies from item to item, but it is safe to say that an image at least as big as 4000 x 4000 pix. will result in an excellent quality print on most products.</p>

  <p class="question">Can I use any image?</p>
  <p class="answer">Sublimationkitchen.com strives to keep it’s community unique. We don’t check if you are the owner of the picture you intend to use, because we believe that you respect copyrights. However, if you don’t, remember that copyright infringement is a crime.</p>

  <p class="question">Will my item look like the visualization in creator?</p>
  <p class="answer">We try our best to make sure that the final product looks like the visualization on the site. Minor differences, however, may occur especially on wristbands, waistbands and sleeves. If you are not happy with your item you always can return it within 14 days.</p>

  <p class="question">How does the back side of clothes look?</p>
  <p class="answer">Back looks identical to front.</p>

  <p class="question">Can I order different print on the front and the back of the same cloth?</p>
  <p class="answer">Currently, you can order only clothes with similar front and back sides.</p>

  <p class="question">What material do you use?</p>
  <p class="answer">Detailed information about the material, size chart and washing instructions can be found in the product description.</p>

  <p class="question">Do I have to create an account to order something?</p>
  <p class="answer">No, you don’t. However, users with accounts can save their addresses instead of entering it manually every time, can access their previous orders, save edit and share their designs and also upgrade to an artist account to earn money.</p>
</div>