{{#unless currentUser.content.artist}}
  <div class="become-a-cook-button">
    <h5>Are you a designer?</h5>
    <p>Create your Brand and start selling today!</p>
    <button class="button dark uppercase" onclick={{action 'becomeCook'}}>create brand</button>
  </div>
{{/unless}}