* {
  font-family: 'montserrat', sans-serif;
}

.button.dark{
  background: $dark-color;
  color: $light-color;
  &:hover{
    background: $gray-color;
  }
}

.nowrap{
  white-space: nowrap;
}

.uppercase{
  text-transform: uppercase;
}

a.link-to-all{
  font-weight: 300;
  &:hover{
    text-decoration: underline;
  }
}
.center{
  text-align: center;
  img{
    margin: 0 auto;
  }
}
