* {
  font-family: 'montserrat', sans-serif;
}

body{
  h1, h2, h3, h4, h5, h6 {
    font-family: 'montserrat', sans-serif;
  }
}

.button.dark{
  background: $dark-color;
  color: $light-color;
  &:hover{
    background: $gray-color;
  }
}

.button.blue{
  background: $blue;
  color: $light-color;
  &:hover{
    background: $light-gray;
    color: $dark-color;
  }
}

.nowrap{
  white-space: nowrap;
}

.uppercase{
  text-transform: uppercase;
}

a.link-to-all{
  font-weight: 300;
  &:hover{
    text-decoration: underline;
  }
}

.center{
  text-align: center;
  img{
    margin: 0 auto;
  }
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: $white;
}

.spacer{
  margin-top: 2rem;
}

.loading {
  background:url('images/ajax-loader.gif') no-repeat right center;
}
.loading-white {
  background:url('images/ajax-loader-white.gif') no-repeat right center;
}

