.pagination{
  margin-top: 2rem;

  .page-number {
    a {
      color: #8c8c8c;
    }
  }

  a, button{
    font-size: x-small;
    font-weight: 700;
  }
  .active a{
    color: black;
    font-weight: 700;
  }
  .prev a{
    border-radius: 5px;
    border: 2px solid $black;
    color: rgba(0,0,0,0);
    &:before{
      color: $black;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f0d9";
    }
    &:after{
      color: $black;
      content: 'PREVIOUS'
    }
  }
  .next a{
    border-radius: 5px;
    border: 1px solid $black;
    color: rgba(0,0,0,0);
    &:before{
      color: $black;
      content: 'NEXT'
    }
    &:after{
      color: $black;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f0da";
    }
  }
  .arrow.disabled{
    padding: 0;
    a{
      border-color: $secondary-color;
      &:before{
        color: $secondary-color;
      }
      &:after{
        color: $secondary-color;
      }
    }
  }
}
