<section class="ternding-products">
  <div class="row">
    <div class="small-12 columns uppercase">
      <h4>
        <strong>
          {{title}}
        </strong>
        //
        <a class="link-to-all" href="/products">view all</a>
      </h4>
    </div>
  </div>

  <div class="row">
    {{#each products as |product|}}
      {{product-info id=product.id title=product.name likes=100 price=product.price artist-name=product.author }}
    {{/each}}
  </div>
</section>
