<section class="ternding-products">
  <div class="row">
    <div class="small-12 columns uppercase">
      <h4>
        <strong>
          trending
        </strong>
        //
        <a class="link-to-all" href="">view all</a>
      </h4>
    </div>
  </div>

  <div class="row">
    {{product-info title='product title' likes=100 price=40.00 artist-name='artist name' }}
    {{product-info title='product title' likes=101 price=50.00 artist-name='artist name' }}
    {{product-info title='product title' likes=103 price=60.00 artist-name='artist name' }}
    {{product-info title='product title' likes=102 price=70.00 artist-name='artist name' }}
  </div>
</section>
