<div class="row">
  <div class="small-12 columns uppercase">
    <h4>
      <strong>
        trending
      </strong>
      //
      <a class="link-to-all" href="">view all</a>
    </h4>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <img src="assets/images/t-shirt.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase font-bold">
        product title
      </div>
      <div class="small-4 columns text-right nowrap font-light">
        100
        <span class="icon-sub-unliked">
          <span class="path1"></span><span class="path2"></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase">
        by artist name
      </div>
      <div class="small-4 columns text-right nowrap font-bold">
        $40.00
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <img src="assets/images/t-shirt.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase font-bold">
        product title
      </div>
      <div class="small-4 columns text-right nowrap font-light">
        100
        <span class="icon-sub-unliked">
          <span class="path1"></span><span class="path2"></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase">
        by artist name
      </div>
      <div class="small-4 columns text-right nowrap font-bold">
        $40.00
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <img src="assets/images/t-shirt.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase font-bold">
        product title
      </div>
      <div class="small-4 columns text-right nowrap font-light">
        100
        <span class="icon-sub-unliked">
          <span class="path1"></span><span class="path2"></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase">
        by artist name
      </div>
      <div class="small-4 columns text-right nowrap font-bold">
        $40.00
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <img src="assets/images/t-shirt.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase font-bold">
        product title
      </div>
      <div class="small-4 columns text-right nowrap font-light">
        100
        <span class="icon-sub-unliked">
          <span class="path1"></span><span class="path2"></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns uppercase">
        by artist name
      </div>
      <div class="small-4 columns text-right nowrap font-bold">
        $40.00
      </div>
    </div>
  </div>

</div>
