<section class="trending-products">
  <div class="row title">
    <div class="small-12 columns uppercase">
      <strong>
        what's cooking
      </strong>
      //
      {{#link-to 'products' (query-params sorted_by='best_sellers') class="link-to-all"}}view all{{/link-to}}
    </div>
  </div>

  <div class="row small-up-2 medium-up-4">
    {{#each products as |product|}}
      {{product-info class="small-12 medium-3 columns product-info" product=product }}
    {{/each}}
  </div>
</section>
