{{app-header}}
<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="row user-register-form">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns center">
            <h4 class="font-bold">PLEASE SIGN IN TO CONTINUE</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{app-footer}}
