<div class="row profile-designs">
    <div class="small-12 columns">
        <h5 class="font-black">My Designs</h5>
      {{#each model.products as |product|}}
          <div class="row design collapse">
              <div class="small-2 columns">
                {{#link-to 'product' product.id}}
                    <img src="{{product.product_image}}" alt="">
                {{/link-to}}
              </div>
              <div class="small-10 columns design-info">
                  <p><b>{{product.name}}</b></p>
                  <p>{{product.formattedTags}}</p>
              </div>
          </div>
      {{/each}}
    </div>
</div>