<div class="small-12 medium-3 columns">
  <div class="row">
    <div class="small-12 columns center">
      <img src="assets/images/kinds/{{kind}}.png" alt="" data-equalizer-watch>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns uppercase font-bold">
      {{title}}
    </div>
    <div class="small-4 columns text-right nowrap font-bold">
      ${{price}}
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns uppercase">
      by you!
    </div>
  </div>
</div>
