.product-editor{
  #formImageUpload{
    float: left;
    margin-right: 1em;
  }

  .js-publish-button{
  }

  .controlls-wrapper{
    cursor: pointer;

    .controlls{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      &.hidden{
        visibility: hidden;
      }

      .rotate{
        flex-grow: 1;
        padding: 5px;
        background: url('images/editor-controlls/rotate.svg') center no-repeat;
      }

      .move{
        flex-grow: 1;
        padding: 5px;
        background: url('images/editor-controlls/move.svg') center no-repeat;
      }

      .zoom{
        display: flex;
        flex-direction: column;
        flex-grow: 9;
        background: url('images/editor-controlls/zoom.svg') center no-repeat;

        &.hidden{
          visibility: hidden;
        }

        .plus{
          flex-grow: 1;
        }

        .size{
          flex-grow: 10;
          position: relative;

          .size-indicator{
            margin: 0;
            margin-top: -2px;
            padding: 0;
            border-bottom: 3px solid black;
            bottom: 50%;
            position: absolute;
            width: 100%;
          }
        }

        .minus{
          flex-grow: 1;
        }
      }
    }
  }


  .editor{
    position: relative;

    .rotation-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      background: rgba(255,255,255,0.4);

      .rotation-outline{
        border: 3px solid #a7a9ac;
        border-radius: 50%;
        background: transparent;
        width: 30%;
        height: 30%;
        padding: 0;
        margin: 0;
      }

      .rotation-outline2{
        border: 7px solid #e7e7e8;
        border-radius: 50%;
        background: transparent;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
      }

      .rotation-center{
        border: 3px solid #a7a9ac;
        border-radius: 50%;
        background: rgba(255,255,255,0.4);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      .rotation-angle-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .rotation-angle{
          padding: 0;
          margin: 0;
          color: black;
          font-size: 3.5em;
          font-weight: bold;
          position: relative;
          right: -0.1em;
          &::selection {
            background: transparent;
          }

          @include breakpoint(small down) {
            font-size: 2em;
          }
        }
      }

      .rotation-position{
        position: absolute;
        top: -15px;;
        left: 40%;
        border: 14px solid #a7a9ac;
        border-radius: 50%;
      }
    }
  }

  #publishModal{
    .publish-notice {
      font-size: smaller;
      margin-bottom: 1rem;
    }
    label{
      font-weight: 500;
      font-size: 1rem;
    }
    input{
      font-weight: 500;
    }
    input::placeholder{
      font-weight: 300;
    }
    .hint{
      font-weight: 300;
      font-size: 0.9em;
    }
    .button{
      margin: 0
    }
    &.reveal{
      &:focus{
        outline: -webkit-focus-ring-color none 5px;
      }
    }
    .form-error{
      margin-top: 0rem;
    }

    .callout{
      margin: 0.5rem 0;
      padding: 0.1rem;
    }

    .actions{
      margin-top: 1em;
    }

    .themes{
      margin-bottom: 1.0rem;
      .column{
        padding-right: 0.3em;

        &:nth-child(4n){
          padding-right: 0;
        }

        input{
          display: none;
          &:checked + label{
            color: white;
            background-color: black;
          }
        }

        label{
          background: #dcdcdc;
          width: 100%;
          display: inline-block;
          padding: 0.2em 0.5em;
          margin: 0;
          margin-top: 0.3em;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }
}
