.public-profile {
  .filters {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: #e4e4e4;
    padding: 1rem;

    input {
      margin: 0;
    }

    .menu {
      label {
        font-weight: 300;
        line-height: 1em;
        text-transform: capitalize;
      }
    }
  }

  .filters-container {
    font-weight: 500;
    background-color: #e4e4e4;
    text-align: center;
    font-size: 0.8rem;
  }

  .filter-by {
    font-weight: bold;
    font-size: inherit;
    margin: 0;
  }

  .sort {
    margin-top: 0;
    position: relative;

    .x-select {
      float: left;
      max-width: 10rem;
      font-size: 0.8rem;
      padding: 0.3rem;
      height: auto;
    }

    label {
      font-weight: bold;
      float: left;
      line-height: 2em;
      margin-right: 1em;
    }

    .per-page {
      padding: 0;
      margin-top: 0.2rem;

      .per-page-content {
        float: right;
        left: 0;
        font-size: 0.8rem;

        a.limit {
          text-decoration: underline;
          margin-left: 0.5em;
        }
      }
    }

    .refine {
      .refine-content {
        border: 1px solid black;
        padding: 0.1rem 0.5em;
        border-radius: 10px;
        font-size: small;
      }
    }
  }

  .products{
    padding-top: 1rem;
  }
}
