{{#shopping-cart}}
  {{app-header}}
  <section class="public-profile">
    <div class="row">
      <div class="small-12 small-centered medium-6 columns">
        <h4>Here will be public profile for user {{model.handle}}.</h4>
      </div>
    </div>
  </section>
  {{app-footer}}
{{/shopping-cart}}
