{{simplified-header}}
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 medium-6 columns">
        {{user-register-form}}
      </div>
    </div>
  </div>
</div>
{{simplified-footer}}
