{{#unless currentUser.content.artist}}
  <div class="row become-a-cook">
    <div class="small-12 columns">
        <div class="small-12 medium-6 small-centered columns content">
          <h2><b>interested in selling your designs?</b></h2>
          <h3>sign up for a free sellers account an we'll double your first $1,000 in earnings*</h3>
          {{#link-to "become-cook" class="button blue uppercase"}}reserve your shop{{/link-to}}
        </div>
    </div>
  </div>
{{/unless}}
