<section class="become-a-cook">
  <div class="row">
    <div class="small-12 columns center uppercase">
      <h4>how to become a cook?</h4>
    </div>
  </div>

  <div class="row steps">
    <div class="small-12 medium-4 columns center">
      <div class="row">
        <div class="small-12 columns uppercase">
          <span class="number one">1</span>
          <h5>create an account</h5>
        </div>
      </div>
      <div class="row">
        <div class="small-12 coulumns">
          Fill out all the needed information<br>
          and verify your paypal account.<br>
          It’ll only take you 10 minutes of your<br>
          free time. Let’s get cooking!
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns center">
      <div class="row">
        <div class="small-12 columns uppercase">
          <span class="number two">2</span>
          <h5>UPLOAD YOUR ARTWORK</h5>
        </div>
      </div>
      <div class="row">
        <div class="small-12 coulumns">
          Upload your artwork and place it<br>
          on whatever products you want<br>
          using our mock up generator.
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns center">
      <div class="row">
        <div class="small-12 columns uppercase">
          <span class="number three">3</span>
          <h5>EARN MONEY</h5>
        </div>
      </div>
      <div class="row">
        <div class="small-12 coulumns">
          You’ll earn 20% revenue on each<br>
          item sold of your design.<br>
          Let us do the cooking for you.
        </div>
      </div>
    </div>
  </div>

  <div class="row signup center">
    <div class="small-12 columns">
      <div class="row">
        <div class="small-12 medium-7 columns signup-form">
          <div class="input-group">
            <input type="text" class="text input-group-field" value="" name="" placeholder="yournamehere">
            <span class="input-group-label">
              .sublimationkitchen.com/
            </span>
            <a class="submit input-group-button button secondary hollow">JOIN!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
