.products{
  padding-top: 2rem;
  .pagination{
    a, button{
      font-size: 1.4rem;
      font-weight: 700;
    }
    .active a{
      font-weight: 900;
    }
    .disabled{
      padding: 0;
      a{
        color: $secondary-color;
      }
    }
  }
}
