<section class="products">
  <div class="row small-up-1 medium-up-4">
    {{#each model as |product|}}
      {{product-info title=product.name likes=100 price=product.price artist-name=product.author }}
    {{/each}}
  </div>
  <div class="row">
    <div class="small-12 columns text-right">
      {{page-numbers content=model  action=(action 'pageClicked')}}
    </div>
  </div>
</section>


