{{#shopping-cart}}
  {{app-header}}
  <section class="products" id="products">
    <div class="row small-up-1 medium-up-4">
      {{#each model as |product|}}
        {{product-info product=product }}
      {{/each}}
    </div>
    <div class="row">
      <div class="small-12 columns text-right">
        {{page-numbers content=model  action=(action 'pageClicked')}}
      </div>
    </div>
  </section>
  {{app-footer}}
{{/shopping-cart}}
