<section class="products">
  <div class="row small-up-1 medium-up-4">
    {{#each model as |product|}}
      {{product-info title=product.name likes=100 price=product.price artist-name=product.author }}
    {{/each}}
  </div>
</section>
