<div class="row promo">
  <div class="small-12 medium-4 columns">
    <img media="large" src="http://lorempixel.com/g/400/400/fashion/6">
  </div>
  <div class="small-12 medium-4 columns">
    <img media="large" src="http://lorempixel.com/g/400/400/fashion/6">
  </div>
  <div class="small-12 medium-4 columns">
    <img media="large" src="http://lorempixel.com/g/400/400/fashion/6">
  </div>
</div>
