<section class="banner">
  <img media="large" src="http://lorempixel.com/g/1920/750/fashion/6">
  <div class="row">
    <div class="small-12 colums cta-wrapper">
      <div class="row">
        <div class="small-12 columns cta">
          <h1 class="font-bold uppercase">lets get cooking</h1>
          <button class="button blue uppercase font-bold" onclick={{action 'letsCook'}}>get started</button>
        </div>
      </div>
    </div>
  </div>
</section>
