<div class="information">
  <div class="information-title">Wholesale</div>
  <p>We are ready and open to cooperate with serious business partners from all parts of the world. These can be wholesalers, drop shippers, or even franchise stores and brand representatives. We guarantee both the highest quality of our products and unquestionable reliability as a partner. Please contact us at wholesale@sublimation.kitchen</p>
</div>