<div class="information">
  <div class="information-title">Terms and Conditions</div>
  <div class="article">
    <div class="center article-title">
      § 1
      <p>General Provisions</p>
    </div>
    <div class="article-content">
      <ol>
        <li>These terms of use present the conditions for purchase within our online store.</li>
        <li>
          The following notions in these terms of use have the following meaning:
          <ol type="a">
            <li>Working days – all days of the week from Monday to Friday, excluding Polish bank holidays.</li>
            <li>Customer – a person using Store, a natural person, with full legal capacity (therefore, in principle, at least of 18 years of age), a legal person or an organizational unit, not a legal person that is given their legal capacity by the law.</li>
            <li>Consumer – a natural person that undertakes the legal act not directly related to their business of professional activity (Art. 22 of the Civil Code).</li>
            <li>Customer account– collection of Customer information, as well as actions performed by Customer in Store (including customer data necessary for execution of submitted orders, order record, execution status of orders being processed).</li>
            <li>Store or Internet store – Internet store operating at www.sublimation.kitchen, managed by Seller, through which Seller offers goods to Customers.</li>
            <li>Seller - Sublimation Kitchen LLC, conducting business activity under the company name of  “Sublimation Kitchen“, with its main office at 158 S 100 W, Provo, UT 84601, e-mail address info@sublimation.kitchen</li>
            <li>Goods – merchandise available in our online store.</li>
          </ol>
        </li>
        <li>Pricing in our online store shall not constitute an offer as defined in the provisions of the Civil Code, but solely invitation to enter into a contract.</li>
        <li>Prices in Store are given in USD. Pricing does not contain shipping and payment cost - these costs are every time decided upon by Customer at the time of placing the order. The final price in relation to the contract for selling Goods is specified during the process of offer (order) placement, in accordance with §3 section 1 and 2.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 2
      <p>Account registration</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Customers are offered the possibility of registration in Internet Store, which results in creating user Account.</li>
        <li>
          Registration process means:
          <ol type="a">
            <li>Customer filling in the registration form available on the Store website (the form presents itself when selecting appropriate Store subsite or when placing the order). It is required that at least the fields marked as obligatory be filled in. These are: name and surname or company name, address, shipping address (if different from user’s address), email address, and-in case of business activity- company name and NIP (Tax Identification Number), acceptance of the terms of use and cookie policy.</li>
          </ol>
        </li>
        <li>After filling in the registration form, Customer is sent a message via e-mail to the address provided during registration. Customer is requested to confirm the information by clicking on the attached link. Customer Account is established as soon as the confirmation process has taken place.</li>
        <li>Customer is entitled to remove the Store account at any time by sending appropriate request at info@sublimation.kitchen.</li>
        <li>
          Seller is entitled to terminate Account of a particular Customer also in case of the rule violations, especially when Customer:
          <ol type="a">
            <li>Provided during registration in Internet Store inaccurate, outdated or invalid information that might be misleading or might infringe rights of third parties.</li>
            <li>Through the Internet store committed an act of infringement of personal interests of third parties, especially personal interests of other Customers of the Internet Store</li>
            <li>In such a case re-registration is not permitted.</li>
          </ol>
        </li>
        <li>Terminating Account shall not impact validity of earlier legal actions performed by Seller with Customer in Store.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 3
      <p>Order placement</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Customer might purchase goods via Store. In order to do so, Customer shall add individual Goods to „cart”, and then confirm the selection by clicking on the appropriate option available on Store website.</li>
        <li>
          After confirming a list of selected Goods, Customer shall:
          <ol type="a">
            <li>specify the method of payment</li>
            <li>confirm that data provided during Account registration is valid, and confirm the complete price of Goods (including also VAT, any duties, delivery cost and payment cost- if any).</li>
          </ol>
        </li>
        <li>Performing the activities mentioned in section 1 and 2 is equal to making an offer of sale of the goods placed in cart by Customer to Seller, with pricing displayed and delivery cost provided.</li>
        <li>When placing the offer by Customer in accordance with section 3, Customer is sent a message via e-mail to the address provided by Customer during account registration, with written confirmation of the terms of the placed offer (order).</li>
        <li>Entering into the sale contract between Customer and Seller takes place after the offer (order) has been accepted by Seller- in the form of a message sent via e-mail to the address provided during account registration of the Internet store user. Confirmation of the offer (order) placement, mentioned in section 4, shall not be equal to offer (order) acceptance.</li>
        <li>Seller reserves the right to change the content of Store website, especially product catalogue as well as the terms of Goods sale, as well as for conducting and cancelling promotional campaigns on Store sites. Such changes shall not influence conditions of execution of accepted orders.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 4
      <p>Payment</p>
    </div>
    <div class="article-content">
      <ol>
        <li>
          Seller provides the following methods of payment:
          <ol type="a">
            <li>Paypal system</li>
            <li>Credit card payment via Stripe</li>
          </ol>
        </li>
        <li>Payment cost is determined by the selected method of payment. Customer is informed about the payment cost of particular Goods before placing the order, in accordance with §3. Moreover, information about current rates is accessible at all times on Store website.</li>
        <li>In case of payment via Paypal, payment shall be completed before the Goods delivery.</li>
        <li>In case of Customer’s delay in payment exceeding 7 working days from order acceptance by Seller, Seller is entitled to withdraw from the sale agreement mentioned above in §3 section 5.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 5
      <p>Order processing and Goods delivery</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Seller shall undertake order processing immediately after entering into the sale contract of Goods included in the order (in case of "cash on delivery” payment) or immediately after acknowledgment of payment for the Goods in their bank account (in case of other methods of payment).</li>
        <li>Delivery method and shipping address shall be specified by Customer in the order form.</li>
        <li>
          Possible delivery methods are:
          <ol type="a">
            <li>USPS</li>
            <li>FedEx</li>
          </ol>
        </li>
        <li>Shipping cost is dependent on the selected delivery method and the selected method of payment (in case of „cash on delivery” shipping cost is higher). Customer is informed about the cost of delivery of given Goods before placing the order, in accordance with §3. Moreover, information about current rates is accessible at all times on Store website.</li>
        <li>Order lead time is the sum of handing over the package to the delivery person and the time of package delivery. Seller shall hand over Goods to the delivery person within 14 working days from the order acceptance.</li>
        <li>
          In case of no possibility to process the order within the time specified in section 5 above, Seller might:
          <ol type="a">
            <li>inform Customer about this fact via e-mail to the address provided during Account registration or when placing the order and return the whole amount of money to Customer– unless Customer gives their consent for prolonging the time of receipt of Goods. It especially concerns Goods that require adaptation to the individual needs of the specific Customer.</li>
            <li>free themselves from the obligation of order execution through fulfillment of the substitute obligation corresponding with the same quality and purpose and for the same prize. Customer might, however, refuse to accept substitute package and withdraw from the contract in line with the conditions specified in §7, including returning Goods at Seller’s expense.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 6
      <p>Product liability</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Seller bears responsibility for faulty Goods in case of Customers who are Consumers in line with the conditions specified in the Law of 27 July 2002 on special conditions of consumer sales and on changes in the Civil Code, and in case of other Customers – in line with the conditions specified in the Law of  23.04.1964 r. – the Civil Code.</li>
        <li>
          Faulty goods (complaints) might be submitted via e-mail at info@sublimation.kitchen or in writing at the Seller’s address provided in §1.
          Customer shall, if possible, write the following in the content of the letter of complaint:
          <ol type="a">
            <li>fault description, including, especially: what the fault is and when it was discovered.</li>
            <li>the date of revealing the fault.</li>
            <li>what Customer request is in connection with complaint submission.</li>
          </ol>
          However, lack of any of the above elements in the letter of complaint submitted by Customer who is Consumer shall not preclude consideration of the complaint. Sending complete documentation might, however, speed the proceedings.
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 7
      <p>Consumer withdrawal from the contract</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Customer who is Consumer is entitled to - in accordance with the Law of 2 March 2000  on protection of certain rights of consumers and on liability for damages caused by a hazardous product (Journal of Laws No. 22 item 271) – withdraw from the sale contract within 14 days from the date of receiving the ordered Goods. In order to meet the deadline mentioned above, Seller might be sent a statement with withdrawal from the contract before the time expires.</li>
        <li>In case of withdrawal from the contract under section 1 the contract is considered not concluded, and Customer is freed from any liabilities. Whatever the parties have furnished shall be returned unchanged, unless the change was necessary within the scope of ordinary management. Return shall take place immediately, no later than within 14 days.</li>
        <li>Seller’s liability to repay Customer’s expenses, specified in section 2, includes both the price of Goods and all other payments made by Customer within the scope of the sale contract – also the cost of the first delivery. However, if withdrawal concerned only some of the Goods sent in one delivery, Seller shall repay Customer only the cost of delivery of the returned Goods, that is the delivery cost that Customer would be obliged to pay if they ordered only those Goods.</li>
        <li>
          Customer is not entitled to withdraw from the contract concluded at a distance mentioned in section 1 in case of:
          <ol type="a">
            <li>providing services that began, with consumer consent, before the deadline specified in section 1,</li>
            <li>concerning audio and visual recordings, as well as those saved on computer storage media after removal of their original packaging by Consumer,</li>
            <li>contracts concerning services where the prize or pay is exclusively dependent on pricing process on the financial market,</li>
            <li>services of characteristics specified by Consumer in the placed order or closely related to them,</li>
            <li>services that due to their character might not be returned or their object is subject to rapid deterioration,</li>
            <li>press delivery,</li>
            <li>gambling services,</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 8
      <p>Goods exchange</p>
    </div>
    <div class="article-content">
      <ol>
        <li>Customer who is Consumer might refer to Seller to exchange the purchased Goods for another copy of the same Goods or other Goods available in Store – for an additional charge or return of the difference in value. Shall it be necessary to return Goods, Customer decides on the form of return.</li>
        <li>In case of Seller giving consent to exchange Goods /merchandise, the shipping cost shall be covered by Customer.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 9
      <p>Graphics, rights of third parties</p>
    </div>
    <div class="article-content">
      <ol>
        <li>The Shop enables Customers to buy Goods with individually marked overprint made according to a graphic file sent by the Customer. For this purpose the Customer should select the option "design" in the menu bar of the Shop and then select the relevant graphic saved in the memory of the device from which the Customer connects to the Internet. Graphic resolution may not normally be less than 2000x2000 pixels.</li>
        <li>When the graphic is sent to the Seller, the Shop displays visualization of the Goods to the Customer with the appropriate overprint – which is always the same on the front and back side of the Goods.</li>
        <li>If the Customer selects the "publish" option – visualization, referred to in par. 2, will be made available in the Shop, so that other Customers will also be able to buy Goods with a given graphic.</li>
        <li>
          By making available to the Seller the graphic file referred to in par. 1 the Customer grants to the Seller unlimited in time and territory, non-exclusive license for the use of the graphic covered by the said file for the purposes of execution of the Customer's order. Moreover, in the case referred to in par. 3 – the above-mentioned license covers the use of the graphic recorded in the file in the following fields of exploitation:
          <ol type="a">
            <li>recording or reproduction with the use of any known technique, including in particular in order to print the graphic on any goods, including: elements of clothing, mugs etc. (also in a broader scope than indicated in the order),</li>
            <li>placing on the market copies of the graphic, including reproduction thereof on the goods specified above (including for the Customer as well as third parties),</li>
            <li>making the graphic public, including in particular by making it available so that everybody can have access to it wherever and whenever they choose (via Internet) – in particular to promote the Seller or the Shop,</li>
            <li>recording the graphic in computer memory and computer networks.</li>
          </ol>
          Granting of the license shall not give rise to the right to remuneration on the part of the Customer.
        </li>
        <li>
          The Customer states that the activities of the Seller referred to in par. 4 will not infringe the rights of third parties. In particular:
          <ol type="a">
            <li>If the graphic constitutes the object of intellectual property rights (including for instance proprietary rights, protection right for trademark, right under registration of industrial design etc.) – the Customer has the right to authorize the Seller to exercise them in the scope specified in par. 4</li>
            <li>If the graphic includes an image of a natural person – the Customer has the consent of that person to disseminate his/her image by the Seller to the extent specified in par. 4.</li>
            <li>The graphic according to the best knowledge of the Customer does not infringe the personal rights of third parties, in particular their dignity, good reputation, honor, privacy, scientific or artistic creation, name or nickname etc.</li>
          </ol>
        </li>
        <li>
          The Seller is entitled to remove the graphic at any time when:
          <ol type="a">
            <li>the Seller finds that by making the graphics available the rights of third parties are infringed (in particular as a result of the receipt of an official notification or to obtaining reliable information about their unlawful nature – within the meaning of Article 14 paragraph 1 of the Act of 18 July 2002 on the Provision of Services by Electronic Means, i.e. Journal of Laws 2013. 1422),</li>
            <li>the Seller considers that the graphics are inappropriate from the point of view of the image or marketing strategy of the Shop or, the Seller decides to delete the Account (in the situation such possibility results from these Terms and Conditions) or to terminate the activities of the Shop.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 10
      <p>Technical requirements, prohibition of posting illegal content, complaints regarding Store operation</p>
    </div>
    <div class="article-content">
      <ol>
        <li>
          Through Store Seller provides Customers with the possibility of free use of the following e-services (within the meaning of the law of 18 July 2002 on providing e-services, Journal of Laws .2002.144.1204  as amended):
          <ol type="a">
            <li>making Store content available,</li>
            <li>concluding sale contracts for Good with Seller through Store in line with the conditions specified in these terms of use.</li>
          </ol>
        </li>
        <li>In order to use the above services Customer shall have at their disposal: a device that might be connected to the Internet and has an operating system, Internet connection, as well as an e-mail account.</li>
        <li>The conditions of storing cookies by Seller on Customer’s devices, as well as Seller’s access to those cookies are specified by Cookie Policy which is attached to these terms of use.</li>
        <li>Customer shall not use this Store to post content (e.g. comments) of illegal character – including content promoting violence or pornography or content infringing rights of a third party. Shall Seller receive any official notification or reliable information regarding illegal character of stored content provided by Customer, Seller might prevent access to this content.</li>
        <li>
          Customer shall:
          <ol type="a">
            <li>not make use of Store in a way that interferes with its functioning, especially by the use of specific software or devices,</li>
            <li>not take actions such as: circulating or posting spam in the Internet store,</li>
            <li>use Internet store without causing inconvenience to other customers and Seller.</li>
          </ol>
        </li>
        <li>In case of dissatisfaction with Store operation, Customer is entitled to submit a complaint via e-mail at: info@sublimation.kitchen. Customer shall be informed about the way of handling their complaint at the e-mail address it was sent from within 14 days from its receipt by Seller.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 11
      <p>Changes to terms of use</p>
    </div>
    <div class="article-content">
      <ol>
        <li>
          Seller is entitled to change the provisions of these terms of use. In such a case:
          <ol type="a">
            <li>registered Customers shall be informed about the changes via e-mail at the address provided at registration – at least 14 days before the changes are in place,</li>
            <li>registered Customers shall be asked for acceptance of changes of the terms of use next time they log in.</li>
          </ol>
        </li>
        <li>Lack of acceptance of the changes in the terms of use is equal to termination of the e-services contract, specified in §9 of these terms of use effective immediately and resulting in terminating Customer’s Account – subject to §10 section 3 below.</li>
        <li>Changes of the terms of use shall not infringe the rights accrued by Customers; and they shall not impact the placed orders that shall be processed based on the existing terms of use.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 12
      <p>Final provisions</p>
    </div>
    <div class="article-content">
      <ol>
        <li>The governing law applicable for these terms of use, as well as for all contracts concluded under this law (especially for sale contracts for Goods) is the law of the Republic of Poland.</li>
        <li>In case of Customers who are Consumers whose permanent residence is European Union (except for Denmark) but outside of the Republic of Poland– section 1 is applied to the extent that it shall not exclude application of regulations applicable in the country of permanent residence of Consumer, the ones that shall not be excluded on the grounds of the contract  (see Art. 6 of the Directive of the European Parliament and European Council of 17 June 2008 on the governing law applicable for contractual obligations [Rome I, Journal of Laws of .UE.L.2008.177.6]).</li>
        <li>In the event a dispute arises based on these terms of use or contracts included in its execution shall be settled by Polish common court having jurisdiction in accordance with the applicable regulations.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      <p><b>Attachment No. 1 to terms of use – Cookie policy</b></p>
      §1
    </div>
    <div class="article-content">
      <ol>
        <li>This Policy specifies the rules for storing information by Seller and their access to information stored on Customer’s Devices in the form of Cookies.</li>
        <li>
          All notions, defined in Terms of use, keep their meaning also on the ground of this Policy. Moreover, the following notions are given the following meaning:
          <ol type="a">
            <li>Cookies - means IT data, especially small text files, saved and stored on devices that Customer uses to connect with Store Internet site.</li>
            <li>Own Cookies - means Cookies placed by Seller, connected with providing e-services by Seller through Store.</li>
            <li>External Cookies - means Cookies placed by a third party, via Internet Store website.</li>
            <li>Policy – this Cookie policy, attachment No. 1 to terms of use.</li>
            <li>Device - means an electronic device through which Customer gains access to Store.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      §2
    </div>
    <div class="article-content">
      <ol>
        <li>Seller with use of Cookies stores information on Customer’s Device or gains access to information stored there -in line with the conditions specified in this Policy.</li>
        <li>
          Seller uses the following types of Cookies:
          <ol type="a">
            <li>session Cookies: are stored on Customer’s Device and remain there until the browser session has ended. Stored information is then permanently deleted from Device memory.</li>
            <li>persistent Cookies: are stored on Customer’s Device and remain there until they are deleted. Ending browser session or disconnecting Device does not delete them from Device.</li>
          </ol>
        </li>
        <li>Using Cookies by Seller does not cause configuration changes in customer’s Device and software installed on Device.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      §3
    </div>
    <div class="article-content">
      <ol>
        <li>
          Seller makes use of Own Cookies in order to:
          <ol type="a">
            <li>authenticate Customer in the service and ensure user’s session in Store,</li>
            <li>execute processes necessary for full functionality of Internet sites.</li>
          </ol>
        </li>
        <li>
          <ol type="a">
            Seller uses External Cookies in order to:
            <li>collect general and anonymous statistical data by analytical tools,</li>
            <li>use interactive features to popularize Store with the help of social networking.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      §4
    </div>
    <div class="article-content">
      <ol>
        <li>Customer has the possibility to limit or disconnect access of Cookies to their Device in browser settings or through service configuration, especially in such a way that blocks automatic management Cookies or be informed whenever Cookies are placed on Customer’s Device. Detailed information regarding the possibility and methods of managing Cookies is available in software settings (of Internet browser).</li>
        <li>Customer might delete Cookies at any time.</li>
        <li>Limiting use of Cookies might impact some features available on Store Internet site.</li>
      </ol>
    </div>
  </div>
</div>
