<ul class="vertical menu profile-menu">
  <li><a href="/profile" class="active button dark">Profile</a></li>
  <li><a href="#advanced" class="button dark">Designs</a></li>
  <li><a href="#sticky-navigation" class="button dark">Orders</a></li>
  <li><a href="#javascript-reference" class="button dark">Log Out</a></li>
</ul>
