<ul class="vertical menu profile-menu">
  <li>{{#link-to "profile.info" class="button dark"}}Profile{{/link-to}}</li>
  <li>{{#link-to "profile.designs" class="button dark"}}Designs{{/link-to}}</li>
  <li><a href="#sticky-navigation" class="button dark">Orders</a></li>
  <li><a href="#javascript-reference" class="button dark">Log Out</a></li>
</ul>
