<div class="information">
  <div class="information-title">Artist Terms</div>
  <div class="article">
    <div class="center article-title">
      TERMS AND CONDITIONS
      <p>FOR COOPERATION WITH THE ARTIST / GRAPHICS PROVIDER (PARTNER)</p>
      § 1
      <p>General Provisions</p>
    </div>
    <div class="article-content">
      <ol>
        <li>These Terms and Conditions define the rules of cooperation between the Partner and the Seller, consisting in making available to the Seller by the Partner the computer graphics to be placed on Goods sold to third parties (Customers of the Shop) in return for payment by the Seller to the Partner of the specified remuneration.</li>
        <li>The condition for initiation of cooperation by the Seller with the Partner under these Terms and Conditions shall be prior opening of the Account at the Shop and acceptance of the Terms and Conditions of the Shop. Therefore, these Terms and Conditions supplement the contents of the Terms and Conditions of the Shop.</li>
        <li>
          To these Terms and Conditions the following definitions shall apply:
          <ol type="a">
            <li>Working days – all weekdays from Monday to Friday excluding public holidays.</li>
            <li>Customer – a person using the services of the Shop who opened an Account at the Shop and accepted the contents of the Terms and Conditions of the Shop.</li>
            <li>Account – a set of information about the Customer or the Partner as well as about activities performed by the Customer or the Partner at the Shop.</li>
            <li>Partner – the Customer who accepted these Terms and Conditions.</li>
            <li>Terms and Conditions – these terms and conditions for cooperation with the graphics provider (Partner).</li>
            <li>Terms and Conditions of the Shop – terms and conditions of the On-line Shop available at (<a href="/information/terms-and-conditions">link</a>).</li>
            <li>Shop or On-line Shop – the on-line shop operating at liveheroes.com managed by the Seller, through which the Seller offers Goods to Customers.</li>
            <li>Seller – Sublimation Kitchen LLC conducting business activity under the business name “Sublimation Kitchen” with its principal place of business under the address: 158 S 100 W, Provo, UT 84601, email: info@sublimation.kitchen</li>
            <li>Goods – goods available at the online store.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 2
      <p>Account registration</p>
    </div>
    <div class="article-content">
      <ol>
        <li>
          Customers may register their artist account and obtain the status of the Partner by:
          <ol type="a">
            <li>registering an Account at the Shop website in accordance with the procedure laid down in the Terms and Conditions of the Shop,</li>
            <li>registering a PayPal account at www.paypal.com,</li>
            <li>accepting these Terms and Conditions and supplementing data provided at the Account registration (if needed),</li>
            <li>verification of the Customer's data by making a test transfer.</li>
          </ol>
        </li>
        <li>The Customer acknowledges that the website www.paypal.com is managed by a third party independent from the Seller. Therefore, the Seller has no influence on the conditions of any agreements concluded by the Customer with the above-mentioned person (including in particular: as regards registration and management of the PayPal account) and shall not be responsible for failure to perform or improper performance of the said agreements.</li>
        <li>
          After performing the activities specified in paragraph 1 a and b, the Customer should go to "profile" tab in the Account options and select the button "identity check". Subsequently the Customer will be asked to:
          <ol type="a">
            <li>accept these Terms and Conditions by selecting a relevant field and</li>
            <li>state whether the Customer will make the graphics available at the Shop as part of the business activity – if yes: provide the name of such business activity (business name), the type of designation used to identify the Customer as a taxpayer and the content of such designation (Tax Identification Number/VAT no. etc.).</li>
          </ol>
        </li>
        <li>Then the shop will automatically redirect the Customer to the website www.paypal.com in order to make a test transfer of the amount of 1 EUR (euro) to the Seller's account. Such transfer is necessary to verify the Customer's identification data provided at the registration at the Shop.</li>
        <li>The Customer's data must be compatible with the data of the person making the test transfer. In the event of incompatibility the Seller shall return the received amount to the account from which it was paid, and the procedure described in par. 3 and 4 above should be started again.</li>
        <li>In the event of correct registration of the brand (i.e. performance of all steps described in par. 1) the Customer shall obtain the status of the Partner and at the same time all rights and obligations reserved for the Partner in these Terms and Conditions. In such case the amount covered by the test transfer shall not be returned.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 3
      <p>Graphics and credits</p>
    </div>
    <div class="article-content">
      <ol>
        <li>If the Seller concludes at the Shop the agreement for the sale of Goods with printed graphics of the Partner made available in accordance with Article 9 of the Terms and Conditions of the Shop – the Seller shall award credits to the Partner in the number dependent on the price of Goods, i.e.: If a Client buys Goods worth $30, the Partner will receive 20% of the price of Goods, i.e. $6.</li>
        <li>Credits will be awarded within 21 days from execution of an order for given Goods, provided that the buyer does not exercise the right to rescind the agreement referred to in Article 27 et seq. of the Act of 30 May 2014 on Consumer Rights (Journal of Laws of 2014, item 827).</li>
        <li>The status of the sale of Goods referred to in part. 1 and the number of credits awarded to the Partner in connection with such sale may be monitored by the Partner via the “artist” tab available in the Customer's data.</li>
        <li>When the Partner collects $25 worth of earnings, the Partner shall obtain the right to pay them into the Customer's Paypal account. For this purpose the Partner should click "transfer money" on the Account. Then the Seller shall immediately order a relevant transfer of the amount corresponding to the number of the Partner's credits expressed in USD in accordance with the conversion rate specified in par. 3.</li>
        <li>
          The Partner shall also be entitled to request payment of credits in a lower amount than $25 – however only in the event of occurrence of circumstances resulting in deletion of the Partner's Account, including in particular as a result of:
          <ol type="a">
            <li>sending a relevant request by the Partner,</li>
            <li>lack of the Partner's consent for amendment of these Terms and Conditions or the Terms and Conditions of the Shop or</li>
            <li>
              termination of activities by the Shop. Such request should be sent in writing to the address: ul. Komorowicka 110, 43-300 Bielsko-Biała or by email to the address: info@sublimation.kitchen. In the case of Partners being:
              <ul>
                <li>natural persons not conducting business activity or </li>
                <li>persons conducting such activity but not having  tax residence in Poland – the Seller as a payer shall make upon payment a deduction for income tax (in the case of Polish residents) or flat-rate withholding tax (in the case of non-residents).</li>
              </ul>
            </li>
          </ol>
        </li>
        <li>The Seller may offer Goods with the Partner's graphics also outside the Shop, including in particular via other managed on-line websites.  However, in such case the Seller should inform the Partner about the number of Goods sold in such way and award credits in accordance with par. 1 at the end of a quarter at the latest.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 4
      <p>Artist Account</p>
    </div>
    <div class="article-content">
      <ol>
        <li>The Partner may define its Artist Account at the Shop by specifying:  artist name, description, logo, banner, links to websites created for the brand in social networks etc. The logo should be a graphic with a resolution of at least, 400x400 pixels, and a banner - 1240x435 pixels.</li>
        <li>The brand should characterize the Partner in a manner allowing to unambiguously identify the Partner and to distinguish the Partner from other brands.</li>
        <li>
          The Seller has the right to use the contents as referred to in par. 1 to mark the Partner or Goods bearing the Partners graphics – in particular in the Seller's offer (e.g. presented via the Shop), all promotional materials etc. For this purpose the Partner grants to the Seller unlimited in time and territory, non-exclusive license covering the following fields of exploitation:
          <ol type="a">
            <li>recording or reproduction with the use of any known technique,</li>
            <li>placing copies on the market,</li>
            <li>making the content public, including in particular by making it available so that everybody can have access to it wherever and whenever they choose (via Internet) – in particular to promote the Seller or the Shop,</li>
            <li>recording in computer memory and computer networks.</li>
          </ol>
        </li>
        <li>The Partner may grant sublicense in the above-mentioned scope to third parties, including in particular to its trade partners (bloggers dealing with 		fashion etc.).</li>
        <li>
          The Partner states that the activities of the Seller referred to in par. 3 will not infringe the rights of third parties. In particular:
          <ol type="a">
            <li>If the contents referred to in par. 1 constitute the object of intellectual property rights (including for instance proprietary rights, protection right for trademark, right under registration of industrial design etc.) – the partner has the right to authorize the Seller to exercise them in the scope specified in par. 3.</li>
            <li>If the above-mentioned contents include an image of a natural person – the Customer has the consent of that person to disseminate his/her image by the Seller to the extent specified in par. 3.</li>
            <li>The said contents according to the best knowledge of the Partner do not infringe the personal rights of third parties, in particular their dignity, good reputation, honor, privacy, scientific or artistic creation, name or nickname etc.</li>
          </ol>
        </li>
        <li>
          The Seller has the right to remove some or all of the contents that make up the brand of the Partner, at any time, when:
          <ol type="a">
            <li>the Seller finds that by making them available the rights of third parties are infringed (in particular as a result of the receipt of an official notification or to obtaining reliable information about their unlawful nature – within the meaning of Article 14 paragraph 1 of the Act of 18 July 2002 on the Provision of Services by Electronic Means, i.e. Journal of Laws 2013. 1422)</li>
            <li>or considers that contents are inappropriate from the point of view of the image or marketing strategy of the Shop or, decides to delete the Partner's Account (in the situation such possibility results from the Terms and Conditions of the Shop)</li>
            <li>or to terminate the activities of the Shop.</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 5
      <p>Promotional activities</p>
    </div>
    <div class="article-content">
      <ol>
        <li>The Seller is entitled to promote selected Partners in a special way, in particular by distinguishing their brands or Goods bearing their graphics at the Shop (so called Recommended Partners).</li>
        <li>Selection of the Recommended Partners referred to in par. 1 shall be a discretionary decision of the Seller. However, the Seller may decide on awarding the above-mentioned status e.g. by way of competition. Partners shall be informed on an ongoing basis about such activities.</li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 6
      <p>Amendments to the Terms and Conditions</p>
    </div>
    <div class="article-content">
      <ol>
        <li>
          The Seller is entitled to amend these Terms and Conditions. In such event:
          <ol type="a">
            <li>Partners shall be informed about amendments by email sent to the address provided at the registration – at least 14 days before the entry of the amendments into force.</li>
            <li>Partners shall be asked to accept the amendments to the Terms and Conditions the next time they log in.</li>
            <li>Failure to accept the amendments to the Terms and Conditions shall be interpreted as termination of the agreement for provision of electronic services within the scope of functionalities covered by these Terms and Conditions (loss of the Partner status).</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
  <div class="article">
    <div class="center article-title">
      § 7
      <p>Final Provisions</p>
    </div>
    <div class="article-content">
      <ol>
        <li>These Terms and Conditions and all agreements concluded hereunder shall be governed by the law.</li>
      </ol>
    </div>
  </div>
</div>