<div class="information">
  <div class="information-title">Delivery & Returns</div>
  <p class="question">Which carrier will deliver my package?</p>
  <p class="answer">We send packages via USPS, FedEx and DHL.</p>
  <p class="question">How much does the delivery cost?</p>
  <p class="answer">Delivery to anywhere in the USA is $5 and international delivery costs $10 worldwide.</p>
  <p class="question">How long does it take to deliver the order?</p>
  <p class="answer">Normal shipping times for US orders are around 2-3 business days after the item is sent unless you paid for faster delivery.
    Please allow 7-14 business days for international shipping as each country's system for delivering packages is different.</p>
  <p class="question">I am not happy with my order, can I return it?</p>
  <p class="answer">If the item has not been used and has all the original markings, you can return it within 14 days.</p>
  <p class="question">How should I return the item?</p>
  <p class="answer">Just send it to our warehouse. The address is 158 S 100 W, Provo, UT 84601</p>
  <p class="question">Who covers shipping cost on returned items?</p>
  <p class="answer">All shipping costs for returned items are covered by the customer.</p>
  <p class="question">How fast will I get the refund?</p>
  <p class="answer">You will get the refund after we receive the returned item. Please keep in mind that refunds are not being processed on weekends and national holidays, so be patient.</p>
  <p class="question">Where do you ship from?</p>
  <p class="answer">We ship from our manufacturing facility in Costa Mesa, California</p>
</div>
