.product{
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #918f8f;
  img.main{
    width: 100%;
  }
  h4{
    font-weight: 700;
  }
  .price{
    font-weight: 300;
  }
  .sizes{
    ul{
      width: 100%;
      margin: 0.2rem;
      li{
        display: table-cell;
        padding: 0.2rem;
        input{
          display: none;
        }
        label{
          display: inline-block;
          border: 2px solid #000;
          border-radius: 50%;
          margin: 0;
          padding: 0.1rem;
          cursor: pointer;
          width: 2rem;
          height: 2rem;
        }
        input:checked + label{
          border: 2px solid #000;
          background: #000;
          color: $light-color;
          font-weight: 900;
        }
      }
    }
  }
  .addToCart{
    width: 100%;
  }
  .tabs{
    border: none;
    border-top: 1px solid $black;
    box-shadow: 0 -1px 0 0 $light-gray;
  }
  .tabs-content{
    border: none;
  }
  .tabs-title{
    font-weight: 300;
    a{
      font-size: 1rem;
    }
    &.is-active{
      font-weight: 700;
      a{
        background: transparent;
      }
    }
  }
  .quantity{
    font-weight: 900;
    max-width: 10rem;
    .minus{
      border: 2px solid $black;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      font-size: 1.5rem;
      line-height: 1rem;
    }
    input{
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
    }
    .plus{
      border: 2px solid $black;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      font-size: 1.5rem;
      line-height: 1rem;
    }
  }
}
