.product{
  margin-top: 2rem;
  padding-top: 2rem;

  // .easyzoom {
  //   display: inline-block;
  //   img {
  //     vertical-align: bottom;
  //   }
  // }

  .easyzoom {
    position: relative;

    /* 'Shrink-wrap' the element */
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

  .easyzoom img {
    vertical-align: bottom;
  }

  .easyzoom.is-loading img {
    cursor: progress;
  }

  .easyzoom.is-ready img {
    cursor: crosshair;
  }

  .easyzoom.is-error  img {
    cursor: not-allowed;
  }

  .easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
  }

  .easyzoom-flyout {
    position:absolute;
    z-index: 100;
    overflow: hidden;
    background: $white;

    img{
      max-width: initial
    }
  }

  .easyzoom--overlay .easyzoom-flyout {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  img.main{
    width: 100%;
  }
  .product-author-info {
    margin: 1em 0 1em 0;

    .author-image {
      border-radius: 50%;
      height: 6em;
      width: 6em;
      float: left;
      margin-right: 1em;
      object-fit: cover;
    }
  }

  h4{
    white-space: pre-line;
    font-weight: 700;
    margin-bottom: 0;
  }

  h5{
    font-size: 0.8em;
  }

  .price{
    font-weight: 300;
  }

  .likes{
    cursor: pointer;
  }

  .sizes{
    margin: 0.8em 0 0.8em 0;
    .sizing-info {
      color: #00d2ff;
      font-size: x-small;
      padding: 0.2rem;
      cursor: pointer;
    }
    ul{
      width: 100%;
      margin: 0.2rem;
      li{
        display: table-cell;
        padding: 0.2rem;
        input{
          display: none;
        }
        label{
          display: inline-block;
          border: 2px solid #000;
          border-radius: 50%;
          margin: 0;
          padding: 0.1rem;
          cursor: pointer;
          width: 2rem;
          height: 2rem;
        }
        input:checked + label{
          border: 2px solid #000;
          background: #000;
          color: $light-color;
          font-weight: 900;
        }
      }
    }
  }
  .addToCart{
    width: 100%;
  }
  .tabs{
    border: none;
    border-top: 1px solid $black;
    box-shadow: 0 -1px 0 0 $light-gray;
  }
  .tabs-content{
    border: none;
  }
  .tabs-title{
    font-weight: 300;
    a{
      padding: 0.6rem 0.8rem;
      font-size: 1rem;
    }
    &.is-active{
      font-weight: 700;
      a{
        background: transparent;
      }
    }
  }

  .tags {
    .tag {
      margin: 0.3em;
      border-top: 1px solid $black;
      background-color: #0a0a0a;
      color: white;
      border-radius: 5%;
      float: left;
      padding: 0.3em;
      font-size: x-small;
      font-weight: 300;
    }
  }
  .product-supporters{
    .tabs{
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $black;
      .tabs-title{
        &.is-active{
          background: #000000;
          a{
            color: #ffffff;
            font-weight: normal;
          }
        }
      }
    }
    .promoter{
      padding: 0.1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .count{
      color: #00d2ff;
    }
    .followers-count{
      color: #797979;
    }
    .cook{
      background: #00d2ff;
      color: #fff;
      padding: 0.1rem 0.5rem;
    }
  }
  .quantity{
    font-weight: 600;
    width: 10rem;
    height: auto;
    margin-bottom: 2em;

    .minus{
      border: 2px solid $black;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      font-size: small;
    }
    input{
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      padding: 0.2rem;
    }
    .plus{
      border: 2px solid $black;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      font-size: small;
    }
  }
  .icon-sub-liked,
  .icon-sub-unliked{
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .promoter{
    background: #e4e4e4;
    .lazy-image-container{
      min-height: 2em;
    }
    img{
      padding: 0.2rem;
      border-radius: 50%;
    }
    .column.promoter-details{
      padding-left: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  .comments{
    padding: 2em;
    .comment{
      .lazy-image-container{
        min-height: 2em;
      }
      button {
        margin-top: 1rem;
        line-height: 0.5rem;
        margin-right: 3%;
      }
      img{
        max-width: 80%;
        padding: 1em;
        border-radius: 50%;
        top: -1em;
        position: relative;
      }
      .comment-content{
        margin-bottom: 0.5rem;
        right: 3%;
        padding: 1em;
        background: $light-gray;
        font-size: 0.8em;
        color: #000000;
        position: relative;
        .info{
          color: #646464;
          .leave-a-comment {
            color: black;
          }
          .username{
            color: #000000;
            font-weight: bold;
          }
        }

        &:before{
          content: '';
          position: absolute;
          left: -12px;
          top: 6px;
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          border-right: 12px solid $light-gray;
        }
      }
    }
  }
}

.reveal { min-height: 350px !important; overflow-y: scroll !important; height: 540px; margin-top: 30px !important;}
.product { position: relative; }

.product .sizes ul li label { width: 3rem; height: 3rem; padding: 0.5rem;  } 
.product .sizes ul li #ember1034 label { padding-left: 4px;  } 

@media screen and (max-width: 39.9375em) {
  .product {
    .comments {
      .comment {
        img {
          padding: 0;
          top: 30%;
          right: 30%;
        }
        .comment-content {
          font-size: small;
        }
      }
    }
  }
}
