.published-container {
  div.row {
    width: 100%;
    max-width: 100%;
    margin: auto;

    &.published {
      height: 50%;
      border-bottom: 1px solid #0a0a0a;
      box-shadow: 0 -1px 0 0 #e6e6e6;
    }

    &.published-title {
      margin: auto;
      text-align: center;
      padding-top: 2rem;
    }

    &.published-content {
      margin: auto;
      text-align: center;
      width: 80%;
      .published-image {
        text-align: right;
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;

        img {
          max-height: 25rem;
        }
      }

      .published-details {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        text-align: left;

        .published-name {
          font-weight: bold;
        }

        .published-tags {
          font-size: 90%;
          color: #c5c5c5;
        }

        .published-author {
          font-size: 90%;
          font-weight: bold;
        }

        .button.light {
          background: $white;
          border: 2px solid $black;
          color: $black;
          line-height: 0rem;
          width: auto;
        }
      }
    }

    &.published-actions {
      margin: auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .published-container {
    h4 {
      font-size: small;
    }
    div.row {
      &.published-content {
        width: 100%;
        .published-details {
          margin-bottom: 1em;
          .published-tags, .published-author{
            font-size: x-small;
            margin: 0;
          }
          .button.light {
            margin: 1em 0;
            font-size: small;
          }
        }
      }
    }
  }
}

