<div class="published-container">
  <div class="row published">
    <div class="small-12 medium-12 columns">
      <div class="row published-title">
        <h4>CONGRATULATIONS! YOUR CREATION HAS BEEN PUBLISHED!</h4>
      </div>
      <div class="row published-content">
        <div class="small-5 medium-7 columns published-image">
          <img src="{{model.product.preview_url}}" alt="">
        </div>
        <div class="small-7 medium-5 columns published-details">
          <h4 class="published-name"> {{model.product.name}} </h4>
          <p class="published-tags"> {{model.product.formattedTags}} </p>
          <p class="published-author"> Created by: {{currentUser.content.name}} </p>
          {{#link-to 'product' model.product.id class="button light uppercase"}}View Product{{/link-to}}
        </div>
      </div>
      <div class="row collapse published-actions">
        {{#link-to 'cooking'}}<button class="button black uppercase">Design Something New</button>{{/link-to}}
      </div>
    </div>
  </div>
</div>

