.top-bar{
  padding: 0;
}

.top-bar.top-info{
  font-weight: 700;
  background: #cfcfcf;
  color: $light-color;
  line-height: 2.6;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  font-size: 0.9rem;
}

#cart-dropdown-trigger{
  position: relative !important;

  #cart-dropdown.dropdown-pane{
    top: initial !important;
    left: initial !important;
    right: 0;
    margin-top: 0.5em;
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    max-width: 350px;

    ul{
      border-top: 1px solid #b6b6b6;
      border-bottom: 1px solid #b6b6b6;
      padding: 0;
      margin: 0;
      background-color: #eeeeee;
      li{
        width: 100%;
        padding: 0.5em;
      }
      li + li{
        border-top: 1px solid #b6b6b6;
      }
    }

    .total{
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      color: #8d8d8d;
      font-weight: 700;
      strong{
        color: #000000;
      }
    }

    .button{
      margin: 0;
      width: 100%;
    }

    .size{
      color: #a2a2a2;
    }

    .price{
      color: #8d8d8d;
      font-weight: 700;
    }

    .name{
      font-weight: 700;
    }

    &:before{
      content: '';
      position: absolute;
      right: 3%;
      top: -11px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid white;
    }
  }
}

#nav-menu, #nav-menu > ul{
  background: $dark-color;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  padding: 0;
  font-size: 1rem;

  .dropdown.menu{
    background: inherit;
    .is-down-arrow > a::after{
      display: none;
    }
    .submenu{
      left: 0;
      background: #404041;
      border: none;
      top: 58px;
      padding: 0.5em;

      &:before{
        content: '';
        position: absolute;
        left: 10%;
        top: -11px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #404041;
      }

      li {
        a{
          font-size: small;
          font-weight: 300;
          margin: 0;
        }
      }

    }

    &.shop-menu{
      .submenu{
        padding: 0.5em;
        left: 0;
        text-align: left;
        top: 50px;

        &.featured {
          text-align: center;
          width: 30rem;

          .featured-title {
            font-size: small;
            font-weight: 700;
            color: white;
            padding: 0.5em;
            text-align: left;
          }

          .button {
            margin: 0.5em;
            font-size: small;
            width: 50%;
          }

          li.featured-artist {
            text-align: left;
            float: left;
            width: 50%;

            img {
              float: left;
              width: 2.5em;
              height: 2.5em;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 1em;
            }
            .name {
              padding: 0.75em;
            }
          }
        }

        &:before{
          left: 10%;
        }
      }
    }
  }

  & > ul{
    display: table;
    margin: 0 auto;
  }

  a {
    color: $light-color;
    font-size: medium;
    padding: 0.7rem;

    &:hover, &.active{
      opacity: 0.8;
    }
    &.logo:hover, &.logo.active{
      opacity: 1;
    }
    &.menu-item:hover{
    }
    &.action-item:hover{
      opacity: 0.8;
    }

    .menu {
      li {
        .item {
          font-size: x-small;
        }
      }
    }
  }

  a.join{
    span{
      border: 1px solid white;
      padding: 3px 10px;
      line-height: 2rem;
    }
  }

  .logo{
    position: relative;
    img{
      padding: 0;
      margin: 0;
      height: 2.5rem;
    }
    span.name{
      font-size: 1.4rem;
      strong{
        font-weight: 900;
      }
    }
  }

  li.divider{
    width: 2rem;
    &:before{
      content: '';
      border-right: 1px solid #8a8a8a;
      position: relative;
      font-size: 2rem;
    }
  }

  li.search-form{
    position: relative;

    input.search{
      font-weight: 300;
      background: transparent;
      border: 0px solid $dark-color;
      border-bottom: 1px solid $light-color;
      color: $light-color;
      max-width: 200px;
      font-size: 1rem;
      box-shadow: none;
      height: 1.9rem;

      &::placeholder{
        color: $light-color;
      }

      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $light-color;
        opacity:  1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $light-color;
        opacity:  1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-color;
      }

      & + span{
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 1.3rem;
        right: 15px;
        top: 15px;
      }
    }
  }
  .basket-indicator{
    position: relative;
    .basket-counter{
      border: 1px solid #00aeef;
      background-color: #00aeef;
      color: white;
      border-radius: 50%;
      min-width: 1rem;
      height: 1rem;
      font-size: 0.9rem;
      position: absolute;
      top: 0.25rem;
      right: 0.2rem;
      text-align: center;
    }
  }

  @include breakpoint(medium) {
    .close-button {
      display: none;
    }
    .menu-item-footer__wrapper{
      display: none;
    }
  }

  .menu-item-footer__wrapper{
    font-weight: 300;
    text-transform: capitalize;
  }

  @include breakpoint(small only) {
    & > ul{
      display: table;
      margin: 0;
      width: 100%;
    }

    &{
      text-align: center;
      text-transform: capitalize;

      .submenu{
        display: none;
      }

      li{
        width: 100%;
        clear: both;
        float: left;
      }
    }

    .logo-wrapper{
      display: none;
    }

    .divider{
      display: none;
    }

    .search-form{
      display: none;
    }

    .menu-item-wishlist__wrapper{
      clear: both;
      float: left;
      width: 50%;
      text-align: right;
    }

    .menu-item-my-kitchen__wrapper{
      float: left;
    }

    .basket-indicator{
      width: 3em;
      margin: 0 auto;
    }
  }
}

.title-bar{
  text-transform: uppercase;

  &.title-bar__small{
    .menu-icon{
      &:focus{
        outline: none;
      }
    }

    a{
      color: $light-color;
      font-size: 1rem;
      padding: 0.7rem;
    }

    .logo{
      position: relative;
      img{
        padding: 0;
        margin: 0;
        height: 2.5rem;
      }
      span.name{
        font-size: 1.4rem;
        vertical-align: middle;
        strong{
          font-weight: 900;
        }
      }
    }
  }
}
