{{product-creator productTemplates=model.templates themes=model.themes user=model.user product=model.product selectedTemplateId=model.selectedTemplateId}}
<section class="other-products">
  <div class="row">
    <div class="small-12 columns">
    </div>
  </div>
</section>
