.off-canvas.shopping-cart {
  background-color: $black;
  color: $white;
  height: 100%;
  padding-top: 1rem;
  border-left: 1px solid $white;
  .close{
    color: $grey;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  .items{
    margin-top: 1rem;
  }
  .item{
    margin-top: 1rem;
    position: relative;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 300;

    img{
      background-color: $white;
    }

    .name{
      font-weight: 700;
      padding-right: 2rem;
    }

    .price{
      font-weight: 400;
    }

    .quantity{
      input{
        background: transparent;
        border: 0px solid transparent;
        width: 3rem;
        display: inline-block;
        color: $white;
        margin: 0;
        input:focus{
          border: 1px solid $white
        }
      }
    }

    .remove{
      font-weight: 900;
      color: $grey;
      position: absolute;
      right: 1rem;
      cursor: pointer;
    }
  }
  .calculations{
    text-transform: uppercase;
    font-weight: 300;
    strong{
      font-weight: 700;
    }
    .total{
      font-weight: 900;
    }
  }
}
