<section class="shop-banner-uploader">
  <div class="banner">
    {{#if user.bannerUrl}}
      <div class="user-banner" style="background-image: url({{user.bannerUrl}})">
        {{shop-banner-uploader/upload-button withUploader=withUploader user=user}}
      </div>
    {{else if withDefaultBanner}}
      <div class="default-banner">
        <h3></h3>
        {{shop-banner-uploader/upload-button withUploader=withUploader user=user}}
      </div>
    {{/if}}
  </div>
</section>
