<section class="new-products">
  <div class="row">
    <div class="small-12 columns uppercase">
      <h4>
        <strong>
          cook up something new
        </strong>
        //
        <a class="link-to-all" href="">view all</a>
      </h4>
    </div>
  </div>

  <div class="row"  data-equalizer data-equalize-on="medium">
    {{new-product-info kind='sweatshirt' price='40.00' title='sweatshirt'}}
    {{new-product-info kind='hoodie' price='50.00' title='hoodie'}}
    {{new-product-info kind='yoga-pants' price='60.00' title='yoga pants'}}
    {{new-product-info kind='tank' price='70.00' title='tank top'}}
  </div>
</section>
