<section class="new-products">
  <div class="row title">
    <div class="small-12 columns uppercase">
        <strong>
          cook up something new
        </strong>
        //
        {{#link-to 'cooking' (query-params product_id="" selected_template_id="") class="link-to-all"}} view all {{/link-to}}
    </div>
  </div>

  <div class="row"  data-equalizer data-equalize-on="medium">
    {{#each templates as |template index|}}
      {{#if (lt index 4)}}
        {{new-product-info template=template}}
      {{/if}}
    {{/each}}
  </div>
</section>
