{{simplified-header}}
<div class="spacer"></div>
<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="callout alert text-center">
      <h4>
        Error! Please try again later.
      </h4>
    </div>
  </div>
</div>
{{simplified-footer}}
