.filters {
  margin: auto;
  width: 100%;
  height: auto;
  background-color: rgb(207, 207, 207);
}

.filters-container {
  margin-top: 5rem;
  font-weight: 500;
  background: #cfcfcf;
  text-align: center;
  font-size: 0.8rem;
}

