<div class="filters-container">
  <div class="row">
  </div>
  <div class="row">
  </div>
  <div class="row small-up-2 medium-up-4 large-up-6 filters">
    <div class="column">
      <p>Type:</p>

    </div>
    <div class="column">
      <p>Theme:</p>
    </div>
    <div class="column">
      <p>Price:</p>
    </div>
  </div>
</div>