<section class="trending-artists">
  <div class="row title">
    <div class="small-12 columns uppercase">
      <strong>
        featured artists
      </strong>
      //
      {{#link-to 'artists' class="link-to-all"}}view all{{/link-to}}
    </div>
  </div>

  <div class="row small-up-2 medium-up-4">
    {{#each artists as |artist|}}
      {{artist-info class="small-12 medium-3 columns artist-info" artist=artist }}
    {{/each}}
  </div>
</section>