<section class="ternding-artists">
  <div class="row">
    <div class="small-12 columns uppercase">
      <h4>
        <strong>
          discover new artists
        </strong>
        //
        <a class="link-to-all" href="">view all</a>
      </h4>
    </div>
  </div>

  <div class="row">
    {{artist-info name='jack' likes=100 }}
    {{artist-info name='jil' likes=101 }}
    {{artist-info name='john' likes=103 }}
    {{artist-info name='dovahkiin' likes=102 }}
  </div>
</section>
