<section class="trending-artists">
  <div class="row title">
    <div class="small-12 columns uppercase">
      <strong>
        discover new artists
      </strong>
      //
      <a class="link-to-all" href="">view all</a>
    </div>
  </div>

  <div class="row">
    {{artist-info name='jack' likes=100 }}
    {{artist-info name='jil' likes=101 }}
    {{artist-info name='john' likes=103 }}
    {{artist-info name='dovahkiin' likes=102 }}
  </div>
</section>
