{{simplified-header}}
<div class="spacer"></div>
<div class="row product-error">
  <div class="small-12 medium-6 small-centered columns">
    <div class="callout alert text-center">
      <h4>
        Product not found. {{#link-to 'products'}}See all products{{/link-to}}
      </h4>
    </div>
  </div>
</div>
{{simplified-footer}}
