$has-tip-border-bottom: null;

.profile-designs {
  .design {
    border-top: 1px solid #0a0a0a;
    box-shadow: 0 -1px 0 0 #e6e6e6;
    position: relative;

    &:last-of-type {
      border-bottom: 1px solid #0a0a0a;
    }

    .design-info {
      padding: 15px;

      p {
        margin-bottom: 0rem;
      }
    }

    .published {
      position: absolute;
      top: 40%;
      left: 70%;

      img {
        width: 2rem;
        height: 2rem;
        padding: 0px;
      }

      .button.light {
        background: $white;
        border: 1px solid $black;
        color: $black;
        line-height: 0.5rem;
        width: 5rem;
      }
    }

    img {
      max-width: 9rem;
      max-height: 9rem;
      padding: 15px;
      width: 100%;
    }
  }
}

.editModal {
  label{
    font-weight: 500;
    font-size: 1rem;
  }
  input{
    font-weight: 500;
  }
  input::placeholder{
    font-weight: 300;
  }
  .hint{
    font-weight: 300;
    font-size: 0.9em;
  }
  .button{
    margin: 0
  }

  &.reveal{
    &:focus{
      outline: -webkit-focus-ring-color none 5px;
    }
  }
  .callout{
    margin: 0.5rem 0;
    padding: 0.1rem;
  }
  .actions{
    margin-top: 1em;
  }
  .themes{
    margin-bottom: 1.0rem;
    .column{
      padding-right: 0.3em;

      &:nth-child(4n){
        padding-right: 0;
      }

      input{
        display: none;
        &:checked + label{
          color: white;
          background-color: black;
        }
      }

      label{
        background: #dcdcdc;
        width: 100%;
        display: inline-block;
        padding: 0.2em 0.5em;
        margin: 0;
        margin-top: 0.3em;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}

