<nav class="top-bar simplified-top-bar" id="nav-menu">
  <h1>
    {{#link-to 'index' class="logo"}}
    <img src="assets/images/logo.png" alt="">
    <span class="name"><strong>sub</strong>kitchen</span>
    {{/link-to}}
    <div class="menu-wrapper">
    <ul class="vertical medium-horizontal menu">
      <li> {{#link-to 'cooking' class="menu-item uppercase"}} create {{/link-to}} </li>
      <li> {{#link-to 'products' class="menu-item uppercase"}} shop {{/link-to}} </li>
      <li><a class="menu-item" href="#">artists</a></li>
    </ul>
    </div>
  </h1>
</nav>
