{{simplified-header}}
<div class="row">
  <div class="small-12 medium-6 small-centered columns">
    <div class="small-12 columns center">
      <div class="spacer"></div>
      <h4 class="font-bold uppercase alert">invalid or expired confirmation token</h4>
    </div>
  </div>
</div>
{{simplified-footer}}
