.artist-info {
  padding: 1em;


  .lazy-image-container {
    min-height: 0;
  }

  .image {
    position: relative;

    img {
      object-fit: cover;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }

  .products-count {
    top: 0;
    left: 13%;
    position: absolute;
    font-size: 80%;
  }

  .likes {
    cursor: pointer;
  }

  .artist-details {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 63em) {
  .artist-info {
    .image {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}
