<div class="small-12 medium-3 columns artist-info">
  <div class="row">
    <div class="small-12 columns center avatar">
      <img src="assets/images/default.png" alt="" data-equalizer-watch>
    </div>
  </div>
  <div class="row artist-details">
    <div class="small-8 columns uppercase font-bold">
      {{name}}
    </div>
    <div class="small-4 columns text-right nowrap font-light">
      {{likes}}
      <span class="icon-sub-unliked">
        <span class="path1"></span><span class="path2"></span>
      </span>
    </div>
  </div>
</div>
