footer{
  margin-top: 2rem;
  padding-top: 6rem;
  font-weight: 300;

  h4{
    font-weight: 700;
    font-size: 0.9rem;
    strong{
      font-weight: 900;
    }
  }

  ul{
    list-style-type: none;
    margin-left: 0;
  }

  .icon{
    font-size: 2rem;
  }

  .hollow.secondary.button.pf{
    font-size: 2rem;
    color: black;
    padding: 0.7rem;
  }

  .footer-links {
    font-size: small;

    li {
      padding-top: 1rem;
    }
  }
}

.newsletter-form {
  display: inline-flex;

  .button {
    width: 10em;
  }

  .newsletter-field {
    min-width: 15em;
    font-size: small;
  }
}

@media screen and (max-width: 40em) {
  .newsletter-form {
    .button {
      font-size: x-small;
    }
  }
}
