.product-info{
  .image{
    position: relative;
    padding-bottom: 1.5rem;
    img{
      width: 90%;
    }
  }
  .likes{
    cursor: pointer;
  }
  .product-details{
    font-size: 0.9rem;
  }
  .product-actions{
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.5s linear;
    position: absolute;
    bottom: 0;
    .sizes{
      font-weight: 700;
      font-size: 0.8rem;
      ul{
        margin: 0.2rem auto;
        margin-bottom: 0.4rem;
        li{
          display: inline-block;
          padding: 0;
          input{
            display: none;
          }
          label{
            font-size: 0.8rem;
            display: inline-block;
            border: 2px solid #000;
            border-radius: 50%;
            margin: 0;
            padding: 0.1rem;
            cursor: pointer;
            width: 1.9rem;
            height: 1.9rem;
          }
          input:checked + label{
            border: 2px solid #000;
            background: #000;
            color: $light-color;
          }
        }
      }
    }
    .buttons{
      .columns:first-of-type{
        padding-right: 0.5rem;
      }
      .columns:last-of-type{
        padding-left: 0.5rem;
      }
      a{
        font-size: 0.7rem;
        margin: 0;
        width: 100%;
        &.primary{
          background-color: #00aeef;
        }
      }
    }
  }
  &:hover{
    .product-actions{
      opacity: 1;
    }
  }
  .artist-name{
    color: $grey;
    a {
      color: $grey;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .product-info{
    .product-details{
      font-size: xx-small;
    }
    .product-actions{
      display: none;
    }
  }
}
