<div class="information">
  <div class="information-title">Payment</div>
  <p class="question">How can I pay for my order?</p>
  <p class="answer">We use Stripe which accepts all major credit cards. You also may pay via PayPal</p>
  <p class="question">Where do you keep my credit card data?</p>
  <p class="answer">We do not keep your credit card data.</p>
  <p class="question">Where can I get a discount code?</p>
  <p class="answer">The easiest way is to follow us on Facebook and Instagram and sign up for our newsletter.</p>
</div>