.row.product-options{

  .columns.options {
    text-align: center;
    padding-top: 4rem;
    padding-top: 0.5rem;

    .row {
      &.title {}
      &.actions {
        a.button {
          margin-top: 2em;
          width: auto;
        }
      }

      &.templates {
        padding-top: 1rem;
        display: inline-block;

        div.column {
          padding: 1rem;

          img{
            background-position: center;
            background-size: cover;
          }

          p {
            margin: auto;
            line-height: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 39.9375em) {
  .product-options {
    h4 {
      font-size: small;
    }
    p {
      font-size: x-small;
    }
  }
}
