<div class="row product-options">
  <div class="small-12 columns options">
    <div class="row collapse title">
      <h4>YOU CAN EASILY ADD ANY OF THESE PRODUCTS TO ACCOMPANY THIS DESIGN</h4>
      <p>JUST SELECT YOUR NEW PRODUCT, REUPLOAD & PLACE ARTWORK, PUBLISH!</p>
    </div>
    <div class="row small-up-1 medium-up-3 large-up-5 templates">
      {{#each model.templates as |template|}}
        <div class="column">
          {{#link-to 'cooking' (query-params product_id=model.product.id selected_template_id=template.id)}}<img src="{{template.templateImage}}" alt="">{{/link-to}}
          <p>{{template.formattedProductType}}</p>
        </div>
      {{/each}}
    </div>
    <div class="row actions">
      <a class="button black uppercase">or create something new</a>
    </div>
  </div>
</div>